@page "/"

@inject NavigationManager Navigation
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>
<InputText @bind-Value="taskId"/>
<button @onclick="btnClick" title="Перейти"/>

Welcome to your new app.

@code{

    string taskId = "1";
    public void btnClick()
    {
        Navigation.NavigateTo($"/chat2/{taskId}");
    }
}